body {
    background-image: url("bg.png");
}

body,
html {
    height: 100vh;
}


/* Barre de navigation */

.navbar-custom {
    background-color: #C8C8C8;
    font-weight: bold;
    border-bottom: 3px solid #428BCA;
}


/* Espacement entre les boutons sur la barre de navigation */

.btn {
    margin-left: 10px;
}


/* Image sur la page de connexion */

#descriptionAcceuil {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

#imageConnexion {
    width: 50%;
    border: 3px solid #428BCA;
    border-radius: 50px;
}

#containerActivites {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#containerOption {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Pour les écrans inférieur à 640 pixels */

@media screen and (max-width: 640px) {
    #imageConnexion {
        width: 100%;
        border: 3px solid #428BCA;
        border-radius: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Card */

.card {
    border: 3px solid #428BCA;
    border-radius: 20px;
    background-color: #C8C8C8;
}


/* Formulaire de connexion */

#connection-form {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #428BCA;
    border-radius: 25px;
    background: #C8C8C8;
    opacity: 0.6;
    font-weight: bold;
}


/* Formulaire d'inscription */

.modal-header {
    background: #428bca;
}

.modal-body {
    font-weight: bold;
}


/* Style pour Activite */

#map {
    width: 50%;
    height: 80vh;
    margin-left: 50%;
    border: 5px solid #428BCA;
    border-radius: 25px;
}

#graphique {
    width: 50%;
    margin-right: 40%;
}
