<!DOCTYPE html>
<html>

<!-- Chargement des fichiers nécessaires (librairies, plugins, fichier de style) -->
{% include "header.html" %}

<body>


    <!-- Barre de navigation -->
    {% include "navigation.html" %}


    <div class="container-fluid">
        <!-- Formulaire pour ajouter une activité (lors d'un click sur le bouton Ajouter une activité) -->
        <div class="modal-content mt-2">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="">Ajouter une activité</h4>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form action="" method="post">

                    <!-- Nom de l'activité -->
                    <div class="row mt-4">
                        <label class="control-label col-md-5" for="nomActivite"> Nom de l'activité </label>
                        <div class="col-md-7">
                            <input class="form-control" id="nomActivite" name="nomActivite" type="text" />
                        </div>
                    </div>

                    <!-- Sport-->
                    <div class="row mt-4">
                        <label class="control-label col-md-5" for="sport">Sport</label>
                        <div class="col-md-7">
                            <select class="custom-select" id="sport" name="sport">
                                        <option value="courseAPied">Course à pied</option>
                                        <option value="marche">Marche</option>
                                        <option value="velo">Vélo</option>
                                        <option value="nage">Nage</option>
                                        <option value="skiDeFond">Ski de fond</option> 
                                    </select>
                        </div>
                    </div>

                    <!-- Matériel-->
                    <div class="row mt-4">
                        <label class="control-label col-md-5" for="materiel"> Matériel </label>
                        <div class="col-md-7">
                            <select class="custom-select" id="materiel" name="materiel">
                                        <option value="materiel1"> Soulier X + X km </option>
                                    </select>
                        </div>
                    </div>


                    <!-- Fichier de l'activité -->
                    <div class="row mt-4">
                        <label class="control-label col-md-5" for="fichier"> Fichier GPX </label>
                        <div class="col-md-7">
                            <span class="btn btn-default btn-file"><input type="file"></span>
                        </div>
                    </div>


                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button class="btn btn-primary" name="ajoutActivite" type="submit">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
